.navbar{
  display: flex;
  align-items: center;  
  background-color: rgb(245, 184, 92);
}

.container{
  background-color: rgb(243, 192, 115);
}


.main{
  font-size: medium;
  background-color: rgb(224, 159, 61);
}

.navbar-brand{
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

.navbar-brand:hover{
  background-color: #ddd;
  color: black;
}

.navbar-brand:active{
  background-color: rgb(255, 153, 0);
  color: white;
}

.bloque{
  background-color: rgb(202, 138, 43);
}

body{
  background-color: rgb(253, 206, 152);
}