{% extends "registro/base.html" %}
{% load static %}

{% block title %} Lista {% endblock title %}

{% block main %}

{% for documento in documentos %}
<div class="bloque">
    <ul>
        <li>Registro: {{ documento.registro }}</li>
        <li>Codigo: {{ documento.codigo }}</li>
        <li>Pin: {{ documento.pin }}</li>
        <li>Fecha: {{ documento.fecha }}</li>
        <li>Tiene observaciones: {{ documento.observaciones }}</li>
    </ul>
</div>
{% endfor %}

{% endblock main %}